{
  "presets": [
    ["@babel/env", {
      "useBuiltIns": "entry",
      "corejs": "3"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-object-rest-spread",
    "@babel/plugin-transform-runtime",
    ["module-resolver", {
      "root": ["./src", "./"]
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-refresh/babel"
      ]
    },
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
