{
  'presets': [
    ['@babel/env', {
      useBuiltIns: 'entry',
      corejs: 3,
    }],
    '@babel/preset-react',
  ],
  'plugins': [
    '@babel/plugin-proposal-class-properties',
    '@babel/plugin-proposal-object-rest-spread',
    '@babel/plugin-transform-runtime',
    ['module-resolver', {
      'root': ['./src', './']
    }],
    'react-hot-loader/babel',
    'istanbul',
  ],
}
