.vs-object {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;

  &.select {
    border: 1px solid red;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }
}

.vs-hidden {
  display: none !important;
}

.vs-clipnode {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
}

.vs-overflow-marker {
  position: absolute;
  bottom: 0;
  transform: translate(0, +50%);

  font-size: 12px;
  width: 14px;
  height: 14px;
  display: flex;

  border: 1px solid black;
  background: #ffffffff;
  align-items: center;
  justify-content: center;

  z-index: 10000;
}

.vs-loading {
  z-index: 9999;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #000000C0;
  color: black;
  left: 0;
  top: 0;
  opacity: 1;
  flex-direction: column;

  img {
    width: 50%;
    height: 50%;
    max-width: 64px;
    max-height: 64px;
  }

  p {
    color: white;
  }
}
