.vs-object {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;

  &.select {
    border: 1px solid red;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }
}

.vs-loading {
  z-index: 9999;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #000000C0;
  color: black;
  left: 0;
  top: 0;
  opacity: 1;

  img {
    width: 50%;
    height: 50%;
    max-width: 64px;
    max-height: 64px;
  }
}
