@import 'BaseObject';

.vs-imagelist {
  @extend .vs-object;

  .vs-covernode {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .vs-imagelist-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;

    .vs-aligner {
      display:flex;
      justify-content:center;
      align-items:center;

      img {
        width: auto;
      }
    }
  }
}
