@import 'BaseObject';

.vs-textbox {
  @extend .vs-object;

  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;

  &:read-write:focus {
    outline: none;
  }
}
