@use 'BaseObject';

.vs-textbox {
  @extend .vs-object;

  .vs-textnode {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    display: block;

    &:read-write:focus {
      outline: none;
    }
  }
}
