@import 'BaseObject';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Merriweather|Open+Sans|Lato|Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Nanum+Myeongjo|Nanum+Gothic&display=swap');

.vs-textbox {
  @extend .vs-object;

  .vs-textnode {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    display: block;

    &:read-write:focus {
      outline: none;
    }
  }
}
