$border-color: #afafb2;

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vs-selector {
  border: 1px solid white;
  position: absolute;
  background: #00000030;
  z-index: 9999;
}

.vs-debug {
  position: absolute;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  top: 0;
  left: 0;
  text-align: left;
  font-size: 10px;
  font-family: monospace;
}

.vs-editor {
  display: flex;
  width: 100%;
  height: 100%;
  background: #ccc;
  flex-direction: column;
  overflow: hidden;
  font-family: sans-serif;

  * {
    box-sizing: border-box;
    @include no-select;
  }

  &.Presentation {
    .vs-viewport {
      background: black;
      border: 0;

      .vs-page {
        box-shadow: none;
        border: 0;
      }

      .vs-pageholder {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .vs-navigator,
    .vs-menu,
    .vs-toolbox {
      display: none;
    }
  }
}

.vs-navigator {
  width: 160px;
  border: 1px solid $border-color;
  height: 100%;
  position: relative;
}

.vs-pagelist {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #E1E2E4;
}

.vs-pagethumb {
  background: transparent;
  display: flex;

  &.select {
    background: #FF206F;

    .holder {
      box-shadow: none;
    }
  }

  &.focus {
    .holder {
      outline: 2px solid #FFC120;
      box-shadow: 0 0 5px 3px #AAA;
    }
  }

  .holder {
    background: white;
    display: inline-block;
    margin: 8px 20px;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px 2px #ddd;
    transition: all 0.1s ease-out;

    img {
      width: 100%;
      height: 100%;
      visibility: hidden;
    }
  }
}

.vs-page {
  background: white;
  box-shadow: 0 0 5px 3px #aaa;
  position: absolute;
}

.vs-pagesnap {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF20;
  background-image: url('/static/dots.svg');
  background-size: 16px 16px;
}

.vs-menu {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  overflow: auto;
  padding: 8px;
  background: linear-gradient(180deg, #d8dbdd, #c5c7c9);

  > * {
    margin-left: 10px;
  }
}

.vs-viewport {
  flex: 1;
  overflow: hidden;
  position: relative;
  outline: none;
  border: 1px solid $border-color;
  border-width: 1px 0;
  background: #C7CDD4;

  .vs-pageholder {
    transform-origin: top left;
  }
}

.vs-toolbox {
  width: 328px;
  border: 1px solid $border-color;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.vs-property {
  flex-grow: 1;
}

.vs-assetlist {
  flex-grow: 1;
  position: relative;
}

.vs-handler {
  display: flex;
  position: absolute;
  border: 1px solid #ff206f;
  z-index: 9999;
}

.vs-dot {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  background: white;
  width: 9px;
  height: 9px;
  font-size: 0;
  z-index: 9999;

  // Clockwise from northwest
  &.d0 {top: 0; left: 0; cursor: nwse-resize;}
  &.d1 {top: 0; left: 50%; cursor: row-resize;}
  &.d2 {top: 0; right: 0; cursor: nesw-resize;}
  &.d3 {top: 50%; right: 0; cursor: col-resize;}
  &.d4 {bottom: 0; right: 0; cursor: nwse-resize;}
  &.d5 {bottom: 0; left: 50%; cursor: row-resize;}
  &.d6 {bottom: 0; left: 0; cursor: nesw-resize;}
  &.d7 {top: 50%; left: 0; cursor: col-resize;}
}

.vs-transforming {
  opacity: 0.5;
  z-index: 9998;
  transition: opacity 0.2s ease-out;
}

.vs-hidechildren * {
  opacity: 0.1;
  transition: opacity 0.2s ease-out;
}

.vs-showme {
  opacity: 1.0 !important;
  transition: opacity 0.2s ease-out;
}
