@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');
$button-radius: 5px;

.vs-view {
  position: relative;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
}

.vs-vertical {
  @extend .vs-view;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.vs-horizon {
  @extend .vs-view;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.vs-horizon-end {
  @extend .vs-horizon;
  justify-content: flex-end;
}

.vs-horizon + .vs-horizon {
  margin-top: 4px;
}

.vs-hgroup {
  @extend .vs-horizon;
  align-items: center;

  .vs-button {
    &:not(.vs-disabled) {
      &:active {
        transform: scale(1.0, 0.95);
      }
    }
  }
  *:first-child {
    border-radius: $button-radius 0 0 $button-radius;
  }
  *:last-child {
    border-radius: 0 $button-radius $button-radius 0;
  }
  *:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  *:not(:last-child) {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.vs-button {
  @extend .vs-view;
  min-width: 72px;
  height: 30px;
  font-size: 0.8em;
  padding: 0px 8px;

  border: 1px solid #bec0c1;
  border-radius: $button-radius;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f3f3;
  font-weight: 400;
  user-select: none;

  &:not(.vs-disabled) {
    &:hover {
      background: white;
      cursor: pointer;
      box-shadow: 0 0 5px 2px #ddd;
      transition: all 0.1s ease-out;
    }

    &:active {
      transform: scale(0.95, 0.95);
      box-shadow: 0 0 5px 0px #eee;
      transition: all 0.1s ease-out;
    }
  }

  &.small {
    width: 64px;
    font-size: 0.7em;
  }

  &.vs-disabled {
    color: #888;
  }
}

.vs-text {
  @extend .vs-view;
  font-size: 0.8em;
  height: 30px;
  line-height: 30px;
  text-shadow: 1px 1px 0px #eee;
  color: #444;
  overflow: hidden;
}

.vs-text-40 {
  @extend .vs-text;
  width: 40px;
}

.vs-text-80 {
  @extend .vs-text;
  width: 80px;
}

.vs-text-140 {
  @extend .vs-text;
  width: 140px;
}

.vs-panel {
  background: #E1E2E4;
  padding: 5px 10px;
}

.vs-titlebar {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  background: #E1E2E4;
  font-size: 0.8em;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

.vs-colorbutton {
  @extend .vs-button;
  cursor: pointer;
  transition: color 0.7s ease-out;
  font-family: 'Roboto Mono', monospace;
  font-variant-numeric: tabular-nums;
}

.vs-filter {
}

.vs-inputtext {
  border: 1px solid #ccc;
  height: 30px;
  width: 72px;
  border-radius: $button-radius;
  text-align: center;
}

.vs-inputtext-140 {
  @extend .vs-inputtext;
  width: 140px;
  text-align: left;
}

.vs-inputfile input[type='file'] {
  width: 180px;
}

.vs-select select {
  border: 1px solid #ccc;
  width: 72px;
  height: 30px;
  border-radius: $button-radius;
}

.vs-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vs-checkbox label {
  font-size: 0.8em;
}

.vs-tab {
  height: 40px;
  font-size: 0.8em;
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #efefef;
  font-weight: 400;
  user-select: none;

  &:hover {
    background: white;
    cursor: pointer;
  }

  &.active {
    background: white;
  }
}

.vs-dialog-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.vs-dialog {
  position: absolute;
  background: #e1e2e4;
  border: 1px solid #afafb2;
  border-radius: 3px;
  padding: 5px;
  z-index: 1000;
  min-width: 320px;

  // basically hidden
  top: 0;
  left: -9999px;
}

.vs-separator {
  border-bottom: 1px solid #ccc;
  margin: 5px 0;
}

.vs-textslider {
  @extend .vs-horizon;
}

.vs-slider {
  margin: 0;
  height: 30px;
}
